{% load static %}
<footer>
  <img src="{% static 'img/logo.svg' %}" alt="" width="128px" />
  <ul>
    <li><a href="#">Diseniador de logitipos: Flaticon</a></li>
    <li><a href="#">Diseniador de logitipos: Flaticon</a></li>
    <li><a href="#">Diseniador de logitipos: Flaticon</a></li>
  </ul>

  <ul>
    <l><a href="{% url 'index' %}">I