{% load static %}
<nav>
  <div><img src="{% static 'img/logo.svg' %}" alt="" ></div>
  <ul>
    <li><a href="{% url 'index' %}">Inicio</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
  </ul>
</nav>
