<nav>
  <ul>
    <li href="{% url 'index' %}">Inicio</li>
    <li href="{% url 'herencia' %}"><a>Herencia</a></li>
    <li href="{% url 'otra' %}"><a>Otra</a></li>
    <li href="{% url 'ejemplo' %}"><a>Ejemplo</a></li>
  </ul>
</nav>
