:root {
  --color-primary: #ffc300;
  --color-secondary: #ffa300;
  --color-text: #707989;
  --color-background: #ededed;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: var(--color-secondary);
}

nav svg {
  margin: 25px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 36px;
  font-weight: 800;
}

nav ul li a:hover {
  color: #fff;
}

footer {
  width: 100vw;
  height: 150px;
  color: var(--color-text);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  list-style-type: none;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer img {
  margin: 25px;
}

main {
  background-color: var(--color-background);
  width: 100vw;

}


main {
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;

}