<div class="nav">
  <ul>
    <li><a href="/home">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/config">config</a></li>
  </ul>
</div>
