<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    {# This is the navigtion component #}
    {% include './layouts/nav.html' %}
    <h1>home page</h1>

    {% include './layouts/footer.html' %}
</body>
</html>