{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block styles %} {% endblock %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header>{% include 'layouts/partials/menu.html' %}</header>
    {% include 'layouts/partials/footer.html' %}
    <main>{% block content %} {% endblock%}</main>
    <!-- This block is for the scripts  -->
    {% block scripts %} {% endblock %}
  </body>
</html>
