{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% comment %} Esta es la plantilla index.html que contines toda la estructura general (layout) del proyecto  {% endcomment %}
{% comment %} Esto nos permite reutilizar y evitar la duplicidad de plantillas  {% endcomment %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% comment %} Otros estilos de css para cada plantilla  {% endcomment %}
        {% block styles %}{% endblock  %}

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Menu layout  -->
        {% include 'layouts/partials/menu.html' %}
       
        <main>
            {% comment %} La herencia se aplica aca  {% endcomment %}
            {% comment %} El contenido de cada pagina es distinto,
             por ende se aplican el metodo de 'bloques' para agregar mas contenido o extender  {% endcomment %}
             {% block content %} {% endblock %}
        </main>
        {% include 'layouts/partials/footer.html' %}
        
        <!-- Bloque principal de los <scripts></scripts> -->
        {% block scripts %}{% enblock %}
    </body>
</html>