{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- En jango no se puede utilizar esta sintaxis para hacer una carga estatica -->
    <link rel="stylesheet" href=""> 
    <!-- sino seria asi  -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>estaticos</title> 
  </head>
  <body>
    <span>
      Recordar que los archivos estaticos son todo tipos de archivos, como: <i>css,
      scss, html, img, svg, png, js,  etc</i>. que es de acceso publico por los usuarios.
    </span>
    <h1>Esta es la plantilla de estaticos</h1>
  </body>
</html>
