<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template dinamico</title>
</head>
<body>
    <h1> Ejemplos de plantilla dinamico</h1>
    <h3>Mi nombre es: {{name}}</h3>
    <h1>Categorias: </h1>
    <div>
        <!-- Esta es la forma en que se realizan las iteraciones y agregan las condiciones logicas -->
        <ul>
            {% for item in categorias %}
                {% if item == 'code'%}
                    <li><b><i>{{item | upper }}</i></b></li>
                {% else %}
                    <li>{{item}}</li>
                {%endif%}
            {% endfor %}
        </ul>
        <!-- Estos son comentarios que no deberian estar en la vista  -->
        <!-- Para ello se hace mediante dos formas: comentario multilinea y solo una linea  -->
        {# Comentario DE UNA UNICA SOLA LINEA #}
        {% comment %}
            Este es un comentario multilinea que no se va a mostrar en el inspector
        {% endcomment %}

        <!-- Filtros en Django  -->
        <!-- Estos son herramientas adicionales, los filtros tambien son llamados "PIPES"  -->
        <!-- Ahora quiero  colocar el total de la categorias listadas anterirmente  -->
        <h3>Cantidad total de categorias: {{ categorias | length }}</h3>

    </div>

    <!-- Condicionales en Django  -->

</body>
</html>